@media (max-width: 768px) {
    .todolist {
        flex-direction: column;
    }
    #list .stickerwall{
        justify-content: center;
    }
    .html{
        font-size: 95%;
    }
    .homecontainer {
        flex-direction: column;
    }
}